In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("../data/original_data/train.csv")
#train.head()

In [3]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
test = pd.read_csv("../data/original_data/test.csv")
#test.head()

In [5]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [6]:
data = [train, test]

### SibSp이 2이상인 사람들은 20세 이하일 확률이 높다.

In [11]:
for df in data:
    df.isnull().loc[df.SibSp >= 2, "Age"] = df.Age[df.SibSp >= 2].mean()#여기확인
    print(df.isnull().sum()["Age"])

163
79

### Parch가 2보다 큰 경우 40대일 확률이 높다.

In [8]:
for df in data:
    df.loc[df.Parch > 2, "Age"] = df.Age[df.Parch > 2].mean()
    print(df.isnull().sum()["Age"])

163
79

### Parch가 0 SibSp이 1인 경우 30대일 확률이 높다.

In [9]:
for df in data:
    df.loc[df.Parch == 0]\
      .loc[df.SibSp == 1]\
       ["Age"] = df["Age"][df.Parch == 0][df.SibSp == 1].mean()
    print(df.isnull().sum()["Age"])

163
79

### Parch가 0 SibSp이 0인 경우 20대일 확률이 높다.

In [10]:
for df in data:
    df.loc[df.Parch == 0]\
      .loc[df.SibSp == 0]\
       ["Age"]\
    = df["Age"][df.Parch == 0][df.SibSp == 0].mean()
    print(df.isnull().sum()["Age"])

163
79

In [61]:
import tensorflow as tf

In [16]:
num_of_rows = len(data)

with tf.io.TFRecordWriter(
    './data/TFRs/train.tfrecord'     #-{0:05d}-of-{1:05d}'.format(i, num_of_files)
) as file_writer:
    i = 0
    while i < num_of_rows:
        x, y = get_single_row(i)
        x = tf.io.serialize_tensor(x).numpy()
        y = tf.io.serialize_tensor(y).numpy()

        record_bytes = \
        tf.train.Example(features=tf.train.Features(feature={
            "inputs": tf.train.Feature(bytes_list=tf.train.BytesList(value=[x])),
            "labels": tf.train.Feature(bytes_list=tf.train.BytesList(value=[y])),
        })).SerializeToString()
        file_writer.write(record_bytes)
        i += 1

In [ ]:
data = pd.read_csv("./data/original_data/train.csv")
data["Age"] = data["Age"].fillna(-1)
data = data.drop(['Name','SibSp','Parch'], axis = 1)
def fn(x):
    if x:
        return (0, 1)
    else:
        return (1, 0)

data['Survived'] = data['Survived'].map(fn)
data['Embarked'] = data['Embarked'].fillna('N')
def fn(x):
    if x == 'male':
        return 1
    else:
        return 0

data['Sex'] = data['Sex'].map(fn)
def fn(x):
    if x == 'S':
        return 1
    elif x == 'C':
        return 2
    elif x == 'Q':
        return 3
    elif x == 'N':
        return 4
    
data['Embarked'] = data['Embarked'].map(fn)
data = data.drop(['PassengerId','Ticket','Cabin'], axis = 1)

In [14]:
891/32

27.84375

In [14]:
fn = lambda x : -1

In [15]:
fn(1)

-1

In [16]:
fn(np.nan)

-1

In [50]:
train.loc[train.SibSp == 1].loc[train.]

In [71]:
train.loc[train.Name.str.contains("James")]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
67,68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.5250,NaN,S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0,0,C.A. 33595,15.7500,NaN,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.6958,A7,C
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0,0,PC 17610,27.7208,B4,C
221,222,0,2,"Bracken, Mr. James H",male,27.0,0,0,220367,13.0000,NaN,S
250,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C
416,417,1,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0,1,1,28220,32.5000,NaN,S
428,429,0,3,"Flynn, Mr. James",male,NaN,0,0,364851,7.7500,NaN,Q
468,469,0,3,"Scanlan, Mr. James",male,NaN,0,0,36209,7.7250,NaN,Q
511,512,0,3,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S
512,513,1,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S
525,526,0,3,"Farrell, Mr. James",male,40.5,0,0,367232,7.7500,NaN,Q
551,552,0,2,"Sharp, Mr. Percival James R",male,27.0,0,0,244358,26.0000,NaN,S
582,583,0,2,"Downton, Mr. William James",male,54.0,0,0,28403,26.0000,NaN,S
592,593,0,3,"Elsbury, Mr. William James",male,47.0,0,0,A/5 3902,7.2500,NaN,S
696,697,0,3,"Kelly, Mr. James",male,44.0,0,0,363592,8.0500,NaN,S
740,741,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S
811,812,0,3,"Lester, Mr. James",male,39.0,0,0,A/4 48871,24.1500,NaN,S
812,813,0,2,"Slemen, Mr. Richard James",male,35.0,0,0,28206,10.5000,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S